body{margin: 25px;
    background-color: rgb(108, 108, 253);
}

h1{
    color: rgb(255, 255, 255);
    text-align: center;
}

img.imgindex{
    align-items: center;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    box-shadow: 15px 5px 5px rgb(0, 0, 0,.6);
}

iframe{
    align-items: center;
    display: block;
    margin: auto;
    box-shadow: 15px 8px 5px rgb(0, 0, 0,.6);
}



div#masteryi{
    background-color: rgb(255, 145, 0);
    height: 733px;
}
div#garem{
    background-color: cyan;
    height: 733px;
}
div#jhin{
    background-color: firebrick;
    height: 733px;
}

header{
    background-color: rgba(151, 197, 26 );
    padding: 12px;
    border-radius: 100px;
    display: block;
    position: relative;
    width: 600px;
    margin: auto;
    

}

ul#grupo1 {
    display: block;
    position: relative;
    left: 1%;
    
}
input#falecomigo,input#home, input#youtube, input#download, input#imagens {
    height: 50px;
    border-radius: 17px;
    width: 95px;
    background-color: rgb(108, 13, 218);
    color: rgb(255, 0, 0);
    font-size: 15px;

}



div#jhin, div#garem, div#masteryi{
    border-radius: 100px;
    width: 799px;
    display: block;
    position: relative;
    margin: auto;
}





div#fotos{
   width: 100%;
   background-color: white;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   margin-bottom: 25px;
}


div.container{
    text-align: center;
    padding: 10px 20px;
    
}


div.container p{
    font-size: 50pt;
    color: rgb(99, 25, 160);
    font-weight: bold;
}



